{% extends 'base.html' %}
{% load static %}
{% block content %}
<a class="btn btn-primary" href="{% url 'olahDataMahasiswa:create' %}">Tambah Mahasiswa</a>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nama</th>
                <th>NPM</th>
                <th>Tahun Masuk</th>
                <th>Kelas</th>
                <th>Ubah / Hapus</th>
          
            </tr>
        </thead>
        <tbody>
            {% for mhs in semua_mahasiswa %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{mhs.nik}}</td>
                <td>{{mhs.npm}}</td>
                <td>{{mhs.tahunMasuk}}</td>
                <td>{{mhs.kelas}}</td>
                <td>
                    <a class="btn btn-outline-success" 
                    href="{% url 'olahDataMahasiswa:update' mhs.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="btn btn-outline-danger" 
                    href="{% url 'olahDataMahasiswa:delete' mhs.id %}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}
    