<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{judul}}</title>
</head>
<body>
    <h1>{{subjudul}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut dignissimos magni ipsum adipisci iste possimus et architecto deleniti, nihil fuga ullam provident minus eius, atque laborum nemo suscipit itaque similique!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores tenetur, recusandae corrupti molestiae sit eaque debitis, excepturi eligendi nisi dolor adipisci commodi similique veniam consequatur. Nulla numquam aliquid amet quia? </p>
    <h2>login require</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rps">RPS</a></li>
        <ul>
            <li><a href="submenurps/">Sub Menu RPS</a></li>
        </ul>
    </ul>
</body>
</html>