<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{judul}}</title>
</head>
<body>
    <h1>ini home</h1> 
    <h2>{{subjudul}}</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium sit dolor minus fugiat illum a molestiae. Blanditiis rem nam eius. Consequuntur enim nisi quaerat ea perferendis cum excepturi, consequatur deleniti?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut dolor officia accusantium reiciendis molestiae. Animi voluptatem enim eius voluptate, aperiam qui magnam quaerat sit dolorum, provident quam ipsam deleniti labore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, doloribus voluptates repudiandae asperiores earum placeat fugiat commodi delectus, repellat obcaecati quia maiores esse aspernatur odio facilis nulla nemo cupiditate sed?</p>
    <h2>nanti ditampilkan halaman login</h2>
    <h2>login require</h2>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="rps/">RPS</a></li>
    </ul>
    
</body>
</html>